main {
    padding: 0;
}

main > article {
    color: #fff;
    align-items: flex-start;
}

main > article > h1, main > article > div > p {
    padding: 0 4rem;
}

main > article > div > section {
    color: #000;
    background-color: #fff;
    padding: 4rem;
}

main > article img {
    width: 300px;
    float: right;
}

section#features {
    background-color: #202542;
}

section#features ul {
    display: flex;
    list-style: none;
}

section#features ul li {
    margin-right: 2rem;
    background-color: #fff;
    border-radius: 30px;
    padding: 2rem;
}

section#features ul li a {
    background-color: #7B4DFF;
    padding: 0.8rem 1.5rem;
    color: #fff;
    text-decoration: none;
    border-radius: 0.5rem;
    text-wrap: nowrap;
}