:root {
    --black: #000;
    --dark: #202542;
    --grey: #979797;
    --light-grey: #FEFEFE;
    --purple: #7B4DFF;
    --white: #FFF;
}

@font-face {
    font-family: 'Lato Regular';
    src: url('../assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--dark);
    font-family: 'Lato Regular', sans-serif;
    margin: 0;
    line-height: 2rem;
}

body > header a,
body > footer a {
    color: var(--white);
    text-decoration: none;
}

body > footer {
    margin-top: 2rem;
}

body > header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 4rem;
}

body > header > address > a {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-style: normal;
}

body > header > address > a > img {
    width: 35px;
    margin-right: 1rem;
}

dl,
dd,
dt {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

main img,
main video {
    max-width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    margin-inline-start: 2rem;
    margin-left: 2rem;
    padding: 0;
    padding-inline-start: 0;
}

nav a {
    font-size: 1.25rem;
}

/**
 * "container" used to make sure that content is "contained" with a standardized margin and padding
 */
#about main header,
#about #features,
#community main header,
#events header,
#for-developers main header,
#for-organizations main header,
#homepage main header,
#solutions-using-solid-technology {
    margin: 0 2rem;
}

@media (min-width: 767px) {
    #about main header,
    #about #features,
    #community main header,
    #events header,
    #for-developers main header,
    #for-organizations main header,
    #homepage main header,
    #solutions-using-solid-technology {
        margin: 2rem 6rem;
    }
}

/**
 * "container--full" used to make sure that content is "contained", but background stretches to both ends
 */
#homepage #features,
#hosted-pod-services,
#solid-description,
#solid-and-servers-pods,
#solid-organizations,
#solid-server-implementations {
    background-color: var(--white);
    color: var(--black);
    margin: 0;
    padding: 2rem;
}

@media (min-width: 767px) {
    #homepage #features,
    #hosted-pod-services,
    #solid-description,
    #solid-and-servers-pods,
    #solid-organizations,
    #solid-server-implementations {
        padding: 2rem 6rem;
    }
}

/**
 * "container--open-end" used to make sure that content is "contained", but background that stretches to one end
 */
#developer-tutorials,
#events article,
#where-to-collaborate {
    background-color: var(--white);
    color: var(--black);
    margin: 0 0 0 0.5rem;
    padding: 2rem 2rem 2rem 1.5rem;
    border-radius: 30px 0 0 30px;
}

@media (min-width: 767px) {
    #developer-tutorials,
    #events article,
    #where-to-collaborate {
        margin: 2rem 0 2rem 4rem;
        padding-right: 6rem;
        padding-inline-end: 6rem;
    }
}

/**
 * Use "tiles" to make elements and their children be presented in a standardized grid
 *
 * There are a couple of variations, "tiles--distinct" and "tiles--very-distinct" that makes the children stand out
 * a bit more.
 */
#about #features ul,
#events-list ul,
#hosted-pod-services ul,
#solid-organizations ul,
#solutions-using-solid-technology ul,
#where-to-collaborate ul {
    display: grid;
    font-size: 1rem;
    gap: 1rem;
    line-height: 1.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    word-break: break-word
}

#about #features ul > *,
#events-list ul > *,
#hosted-pod-services ul > *,
#solid-organizations ul > *,
#solutions-using-solid-technology ul > *,
#where-to-collaborate ul > * {
    color: var(--dark);
}

#about #features ul > * > *:first-child,
#events-list ul > * > *:first-child,
#hosted-pod-services ul > * > *:first-child,
#solid-organizations ul > * > *:first-child,
#solutions-using-solid-technology ul > * > *:first-child,
#where-to-collaborate ul > * > *:first-child {
    margin-top: 0;
}

@media (min-width: 767px) {
    #about #features ul,
    #events-list ul,
    #hosted-pod-services ul,
    #solid-organizations ul,
    #solutions-using-solid-technology ul,
    #where-to-collaborate ul {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin: 0;
        padding: 0;
    }
}

@media (min-width: 1100px) {
    #about #features ul,
    #events-list ul,
    #hosted-pod-services ul,
    #solid-organizations ul,
    #solutions-using-solid-technology ul,
    #where-to-collaborate ul {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* This part is used for distinct tiles */
#events-list ul > * {
    background-color: var(--white);
    border: 1px solid var(--grey);
    border-radius: 0.5rem;
    padding: 1rem;
}

/* This part is used for very distinct tiles */
#hosted-pod-services ul > *,
#solid-organizations ul > * {
    background-color: var(--white);
    border: 1px solid var(--grey);
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding: 2rem;
}

/*
 * This class are applied to description lists that describe legends
 */
.legend {
    display: flex;
    align-items: center;
    line-height: 1.5rem;
    margin: 1rem 0;
    gap: 0.5rem;
}

.legend dt,
.legend dd {
    margin: 0;
}

.legend dd {
    margin-right: 2rem;
}

.legend img {
    display: block;
}

/*
 * "button" applied to elements that looks like buttons.
 */
#features a,
#where-to-collaborate a {
    background-color: var(--purple);
    padding: 0.75rem 1.5rem;
    color: var(--white);
    display: inline-block;
    line-height: 1.25rem;
    text-decoration: none;
    border-radius: 0.5rem;
    width: max-content;
    height: max-content;
}

#homepage main > article {
    align-items: center;
}

main > article {
    display: flex;
    flex-direction: column;
}

main > article > h1,
main > article > p {
    color: var(--white);
    font-weight: 400;
    padding: 0 2rem;
}

body > footer > div {
    display: flex;
    padding: 2rem 4rem;
    align-items: center;
}

body > footer dl {
    margin-block-start: 0;
    margin-block-end: 0;
}

body > footer dd {
    margin-inline-start: 0;
}

body > footer > div > img {
    height: 40px;
    width: 40px;
}

body > footer > div > dl > dd > ul {
    align-items: center;
    display: flex;
    color: var(--white);
    width: min-content;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-left: 1rem;
    margin-inline-start: 1rem;
    padding-inline-start: 0;
    gap: 1rem;
}

body > footer > div > dl > dd > ul li img {
    display: block;
    filter: invert(100%) hue-rotate(180deg);
}

h1 {
    font-size: 3rem;
    line-height: 1.25em;
}

#homepage h1 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2rem;
}

#homepage h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

#for-developers h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
}

#homepage h1 + p {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    line-height: 2rem;
}

h2 + div > p:first-child {
    font-size: 1.25rem;
    line-height: 2rem;
}

#about main > article > h1 ~ p:not(div ~ p):last-of-type {
    margin-block-start: 0;
}

main header {
    color: var(--white);
    font-size: 1.5rem;
}

#developer-tutorials li {
    list-style: none;
}

#developer-tutorials li a {
    color: var(--dark);
}

#solid-server-implementations li a {
    color: var(--purple);
    font-size: 1.25rem;
    line-height: 2.5rem;
}

#about #features {
    margin-top: 2rem;
}

#features ul {
    margin: 0;
    padding: 0;
}

#features > h2,
#accounts dt,
#hosted-pod-services dt {
    display: none;
}

#hosted-pod-services dd[property="doap:name"] {
    font-size: 1.2rem;
    font-weight: 700;
}

#homepage main > article > div > section img {
    width: 63px;
    height: 63px;
    padding-right: 2rem;
}

#homepage main header {
    text-align: center;
}

#developer-tutorials {
    margin-bottom: 2rem;
    margin-block-end: 2rem;
}

#homepage main > article > div > section > div > ul,
#developer-tutorials {
    background-color: var(--white);
    color: var(--dark);
}

#about main > article > h1,
#about main > article > div > p,
#for-organizations main > article > h1,
#for-organizations main > article > p,
#events > h2,
#events > div > p {
    padding: 0 2rem;
}

#homepage main > article > div > section > div > ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
}

#for-organizations main > article,
#community {
    color: var(--white);
}

#hosted-pod-services,
#solid-organizations,
#solid-server-implementations {
    color: var(--black);
    background-color: var(--white);
}

#solid-description,
#solid-and-servers-pods {
    font-size: 1.25rem;
}

#solid-description section,
#solid-and-servers-pods section {
    clear: both;
}

#events ul,
#solutions-using-solid-technology ul {
    list-style: none;
}

#about section#features ul li,
#events > div > ul {
    background-color: var(--white);
    border-radius: 0.5rem;
    padding: 2rem;
    color: var(--black);
}

#events-list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 0;
    padding: 0;
}

#events details summary {
    font-size: 1.5rem;
    list-style: none;
    cursor: pointer;
    position: relative;
    padding-right: 20px;
    margin-bottom: 1rem;
}

#events summary::marker {
    content: none;
}

#events summary::after {
    content: '\2303';
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 0.2rem);
    transform: translateY(calc(-50% - 0.5rem)) rotate(180deg);
}

#events [open] summary::after {
    transform: translateY(calc(-50% + 0.5rem)) rotate(0deg);
}

#events > div > ul > li > details > ul li dt {
    display: none;
}

#events details ul {
    padding: 0;
}

#events details dl {
    padding: 1em;
}

#events details dl dt,
#events details dl dd {
    padding: 0;
    margin: 0
}

#solutions-using-solid-technology > div > ul,
#hosted-pod-services > div > ul,
#features ul {
    list-style: none;
}

/* Desktop styles */
@media (min-width: 767px) {
    body > header {
        flex-direction: row;
        align-items: center;
    }

    body > header a,
    body > footer a {
        text-wrap: nowrap;
    }

    h1 {
        font-size: 4rem;
    }

    nav ul {
        align-items: center;
        display: flex;
        align-self: flex-end;
        gap: 2rem;
        text-align: center;
    }

    main > article {
        display: flex;
        flex-direction: column;
    }

    main > article > h1,
    main > article > p {
        color: var(--white);
        font-weight: 700;
        padding: 0 6rem;
    }

    #about main,
    #for-developers main,
    #for-organizations main {
        padding: 0;
    }

    #about main > article > h1,
    #about main > article > div > p,
    #for-organizations main > article > h1,
    #for-organizations main > article > p {
        padding: 0 6rem;
    }

    #events > h2,
    #events > div > p,
    #community > main > article > h1,
    #community > main > article > p {
        padding: 0;
    }

    #events > div > ul {
        padding: 2rem;
        margin-right: 2rem;
    }

    #about main > article,
    #for-organizations main > article,
    #community {
        align-items: flex-start;
    }

    #hosted-pod-services {
        display: block;
        padding-bottom: 0;
    }

    #about main > article img {
        width: 300px;
        float: right;
    }

    #about section#features {
        background-color: var(--dark);
    }

    #events-list {
        gap: 2rem;
    }

    #events li dl dd:not(:last-child) {
        font-size: 0.75rem;
        text-transform: uppercase;
    }

    #for-developers main > article > div,
    #for-organizations main > article > div,
    #community main > article > div {
        width: 100%;
    }

    #developer-tutorials {
        font-size: 1.25rem;
        line-height: 2.5rem;
    }

    #terms {
        color: var(--white);
    }
}

@media screen and (min-width: 1023px) {
    #homepage main > article > div > section > div > ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 0;
    }

    #homepage main > article > div > section > div > ul {
        border-radius: 30px;
    }

    #homepage main > article > div > section > div > ul li {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 0;
        grid-row-gap: 0;
        padding: 4rem;
    }

    #homepage main > article > div > section > div > ul > :nth-child(1),
    #homepage main > article > div > section > div > ul > :nth-child(3) {
        border-right: 1px solid  var(--grey);
    }

    #homepage main > article > div > section > div > ul > :nth-child(1),
    #homepage main > article > div > section > div > ul > :nth-child(2) {
        border-bottom: 1px solid  var(--grey);
    }

    #homepage main > article > div > section > div > ul li :nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
    }

    #homepage main > article > div > section > div > ul li :nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
    }

    #homepage main > article > div > section > div > ul li :nth-child(3) {
        grid-area: 2 / 2 / 3 / 3;
    }

    #homepage main > article > div > section > div > ul li :nth-child(4) {
        grid-area: 3 / 2 / 4 / 3;
    }
}