main>article>section img {
    width: 63px;
    height: 63px;
}

main>article>section>div>ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 4rem;
    grid-row-gap: 4px;
    background-color: #fff;
    color: #202542;
    padding: 4rem;
    border-radius: 30px;
    list-style: none;
}

main>article>section>div>ul li {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 3rem;
    grid-row-gap: 0px;
}

main>article>section>div>ul li :nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
}

main>article>section>div>ul li :nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
}

main>article>section>div>ul li :nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
}

main>article>section>div>ul li :nth-child(4) {
    grid-area: 3 / 2 / 4 / 3;
}

main>article>section>div>ul li a {
    background-color: #7B4DFF;
    padding: 0.8rem 1.5rem;
    color: #fff;
    text-decoration: none;
    border-radius: 0.5rem;
}