---
layout: base
title: apps table
permalink: press
---

<section id="apps-table" class="section">
<table class="table">
  <tbody>
    <tr>
      <td class="level"><span class="level-left">[Media Kraken](https://noeldemartin.github.io/media-kraken/)</span><a href="https://vimeo.com/solidworld" title="Source"><span class="level-right image is-24x24"><img src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/pencil-ruler.svg" alt="Source"
 class="brand-icon"/></span></a><a href="https://vimeo.com/solidworld" title="Source"><span class="level-right image is-24x24"><img src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/pencil-ruler.svg" alt="Source"
 class="brand-icon"/></span></a>
 </td>
    </tr>
    <tr>
      <td class="level"><span class="level-left">[Media Kraken](https://noeldemartin.github.io/media-kraken/)</span><a href="https://vimeo.com/solidworld" title="Source"><span class="level-right image is-24x24"><img src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/pencil-ruler.svg" alt="Source"
 class="brand-icon"/></span></a><a href="https://vimeo.com/solidworld" title="Source"><span class="level-right image is-24x24"><img src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/pencil-ruler.svg" alt="Source"
 class="brand-icon"/></span></a>
 </td>
    </tr>
    <tr class="is-selected">
      <td class="level"><span class="level-left">[Media Kraken](https://noeldemartin.github.io/media-kraken/)</span><a href="https://vimeo.com/solidworld" title="Source"><span class="level-right image is-24x24"><img src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/pencil-ruler.svg" alt="Source"
 class="brand-icon"/></span></a><a href="https://vimeo.com/solidworld" title="Source"><span class="level-right image is-24x24"><img src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/pencil-ruler.svg" alt="Source"
 class="brand-icon"/></span></a>
 </td>
    </tr>
    <tr>
      <td class="level"><span class="level-left">[Media Kraken](https://noeldemartin.github.io/media-kraken/)</span><a href="https://vimeo.com/solidworld" title="Source"><span class="level-right image is-24x24"><img src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/pencil-ruler.svg" alt="Source"
 class="brand-icon"/></span></a><a href="https://vimeo.com/solidworld" title="Source"><span class="level-right image is-24x24"><img src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/pencil-ruler.svg" alt="Source"
 class="brand-icon"/></span></a>
 </td>
    </tr>
    <tr class="is-selected">
      <td class="level"><span class="level-left">[Media Kraken](https://noeldemartin.github.io/media-kraken/)</span><a href="https://vimeo.com/solidworld" title="Source"><span class="level-right image is-24x24"><img src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/pencil-ruler.svg" alt="Source"
 class="brand-icon"/></span></a><a href="https://vimeo.com/solidworld" title="Source"><span class="level-right image is-24x24"><img src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/pencil-ruler.svg" alt="Source"
 class="brand-icon"/></span></a>
 </td>
    </tr>    
  </tbody>
</table>
</section>
