{% if page.url != "/" %}
  <nav id="breadcrumb" class="breadcrumb">
    <div class="container">
      <ul>
        <li>
          <a href="{{site.baseurl}}/">
            Home
          </a>
        </li>
        {% if page.url contains '/users/' %}
          <li>
            <a href="{{site.baseurl}}/users/">
              Using Solid
            </a>
          </li>
        {% endif %}
        {% if page.url contains '/developers/' and page.url != '/developers/' %}
          <li>
            <a href="{{site.baseurl}}/developers/">
              Developers
            </a>
          </li>
        {% endif %}
        {% if page.url contains '/newsletter/' and page.url != '/newsletter' %}
          <li>
            <a href="{{site.baseurl}}/newsletter">
              This Month in Solid
            </a>
          </li>
        {% endif %}
        {% if page.url contains '/this-week-in-solid/' and page.url != '/this-week-in-solid' %}
          <li>
            <a href="{{site.baseurl}}/this-week-in-solid">
              This Week in Solid
            </a>
          </li>
        {% endif %}
        {% if page.title %}
          <li>
            <a href="{{site.baseurl + page.url}}">
              {{ page.title }}
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
{% endif %}
