{% if page.url != "/" %}
  <nav id="breadcrumb" class="breadcrumb">
    <div class="container">
      <ul>
        <li>
          <a href="{{site.baseurl}}/">
            Home
          </a>
        </li>
        {% if page.url contains '/use-solid/' %}
          <li>
            <a href="{{site.baseurl}}/use-solid/">
              Use Solid
            </a>
          </li>
        {% endif %}
        {% if page.url contains '/for-developers/' and page.url != '/for-developers/' %}
          <li>
            <a href="{{site.baseurl}}/for-developers/">
              For Developers
            </a>
          </li>
        {% endif %}
        {% if page.url contains '/for-enterprises/' and page.url != '/for-enterprises/' %}
          <li>
            <a href="{{site.baseurl}}/for-enterprises/">
              For Enterprises
            </a>
          </li>
        {% endif %}
        {% if page.title %}
          <li>
            <a href="{{site.baseurl + page.url}}">
              {{ page.title }}
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
{% endif %}
