<section id="choose-your-own-adventure" class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered is-size-3 is-size-2-tablet is-size-2-desktop">
        {{include.heading}}
      </h1>
      <div class="section field is-grouped">
        <div class="control">
          <a
            href="{{site.baseurl}}{{include.link1}}"
            class="button is-large is-primary is-rounded is-uppercase"
          >{{include.adventure1}}</a>
        </div>
        <div class="control">
          <a
            href="{{site.baseurl}}{{include.link2}}"
            class="button is-large is-primary is-rounded is-uppercase"
          >{{include.adventure2}}</a>
        </div>
        {% if include.link3 and include.adventure3 %}
        <div class="control">
          <a
            href="{{site.baseurl}}{{include.link3}}"
            class="button is-large is-primary is-rounded is-uppercase"
          >{{include.adventure3}}</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
