<div id="draft-warning"></div>
<script>
  if (
    document.location.hostname === 'localhost'
    || document.location.hostname === 'solid.github.io'
    || document.location.hostname.substring(document.location.hostname.length - 10) === "vercel.app"
  ) {
    const draftWarningElement = document.getElementById('draft-warning')
    draftWarningElement.innerHTML = `
      <div class="message is-danger is-large" role="alert">
        <div class="message-body">
          You are currently viewing a draft version of the Solid website. If you are looking for reliable information, visit the live site at <a href="https://solidproject.org{{page.url}}" title="The official Solid website">SolidProject.org</a>.
        </div>
      </div>
    `;
  }
</script>