<footer>
  <nav>
    <ul>
      <li><a href="/about.html">About</a></li>
      <li><a href="/for-users.html">For Users</a></li>
      <li><a href="/for-developers.html">For Developers</a></li>
      <li><a href="/for-organizations.html">For Organizations</a></li>
      <li><a href="/community.html">Community</a></li>
      <li><a href="https://github.com/solid/solidproject.org/blob/main/LICENSE.md">License</a></li>
      <li><a href="https://github.com/solid/process/blob/main/code-of-conduct.md">Code of Conduct</a></li>
      <li><a href="https://service.theodi.org/help/1476250723">Support</a></li>
    </ul>
  </nav>

  <div>
    <img alt="logo" src="/image/logo.svg" width="40" />
    <dl id="accounts">
      <dt>Accounts</dt>
      <dd>
        <ul about="/#i">
          <li><a href="mailto:info@solidproject.org">info@solidproject.org</a></li>
          <li><a href="https://github.com/solid/"><img src="/image/github.svg" alt="github" width="20" /></a></li>
          <li><a href="https://twitter.com/project_solid"><img src="/image/twitter.svg" alt="twitter" width="20" /></a></li>
        </ul>
      </dd>
    </dl>
  </div>
</footer>
