<footer id="footer" class="footer">
  <div class="container">
    <div class="columns">
      
        <div class="column">
          <ul>
            <li>
              
                <a class="title is-size-5" href="/">Home</a>
              
            </li>
            
              <li>
                
                  <a class="is-size-5" href="/about">About Solid</a>
                
              </li>
            
              <li>
                
                  <a class="is-size-5" href="/users">Using Solid</a>
                
              </li>
            
              <li>
                
                  <a class="is-size-5" href="/users/get-a-pod">Get a Pod</a>
                
              </li>
            
              <li>
                
                  <a class="is-size-5" href="/apps">Solid Apps</a>
                
              </li>
            
              <li>
                
                  <a class="is-size-5" href="/team">Team</a>
                
              </li>
            
              <li>
                
                  <a class="is-size-5" href="/faqs">FAQs</a>
                
              </li>
            
              <li>
                
                  <a class="is-size-5" href="/terms">Terms of Use</a>
                
              </li>
            
              <li>
                
                  <a class="is-size-5" href="https://github.com/solid/process/blob/main/code-of-conduct.md">Code of Conduct</a>
                
              </li>
            
          </ul>
        </div>
      
        <div class="column">
          <ul>
            <li>
              
                <span class="title is-size-5">What's New</span>
              
            </li>
            
              <li>
                
                  <a class="is-size-5" href="/newsletter">This Month in Solid</a>
                
              </li>
            
              <li>
                
                  <a class="is-size-5" href="/events">Solid Events</a>
                
              </li>
            
              <li>
                
                  <a class="is-size-5" href="/press">Press</a>
                
              </li>
            
          </ul>
        </div>
      
        <div class="column">
          <ul>
            <li>
              
                <a class="title is-size-5" href="/developers">Developers</a>
              
            </li>
            
              <li>
                
                  <a class="is-size-5" href="/developers/tutorials/getting-started">Getting Started</a>
                
              </li>
            
              <li>
                
                  <a class="is-size-5" href="https://forum.solidproject.org">Forum</a>
                
              </li>
            
          </ul>
        </div>
      
        <div class="column">
          <ul>
            <li>
              
                <span class="title is-size-5">More</span>
              
            </li>
            
              <li>
                
                  <a class="is-size-5" href="/specification">Specification</a>
                
              </li>
            
              <li>
                
                  <a class="is-size-5" href="/license">License</a>
                
              </li>
            
              <li>
                
                  <a class="is-size-5" href="/logo-usage-guidelines">Logo usage guidelines</a>
                
              </li>
            
              <li>
                
                  <a class="is-size-5" href="https://github.com/solid/solidproject.org/issues/new">Website feedback</a>
                
              </li>
            
          </ul>
        </div>
      
    </div>
  </div>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img
          src="/assets/img/solid-emblem.svg"
          alt="[Solid logo]"
        />
      </a>
      <a class="navbar-item is-hidden-mobile" href="mailto:info@solidproject.org">
        info@solidproject.org
      </a>
      <a class="navbar-item is-size-3-mobile is-hidden-tablet" href="mailto:info@solidproject.org" aria-label="info@solidproject.org">
        @
      </a>      
      <a class="navbar-item" href="https://github.com/solid/" title="Solid on GitHub">
        <span class="image is-24x24">
          <img
            src="/assets/img/fontawesome-free-5.11.2-web/svgs/brands/github.svg"
            alt="GitHub"
            class="brand-icon"
          />
        </span>
      </a>
      <a class="navbar-item" href="https://twitter.com/project_solid" title="Solid on Twitter">
        <span class="image is-24x24">
          <span class="image is-24x24">
            <img
              src="/assets/img/fontawesome-free-5.11.2-web/svgs/brands/twitter.svg"
              alt="Twitter"
              class="brand-icon"
            />
          </span>
        </span>
      </a>
      <a class="navbar-item" href="https://vimeo.com/solidworld" title="Solid on Vimeo">
        <span class="image is-24x24">
          <img
            src="/assets/img/fontawesome-free-5.11.2-web/svgs/brands/vimeo-v.svg"
            alt="Vimeo"
            class="brand-icon"
          />
        </span>
      </a>
    </div>
  </nav>
</footer>
