<footer id="footer" class="footer">
  <div class="container">
    <div class="columns">
      {% for item in site.data.footer %}
        <div class="column">
          <ul>
            <li>
              {% if item.link %}
                <a class="title is-size-5" href="{{ item.link }}">{{ item.name }}</a>
              {% else %}
                <span class="title is-size-5">{{item.name}}</span>
              {% endif %}
            </li>
            {% for subitem in item.sublinks %}
              <li>
                {% if subitem.link %}
                  <a class="is-size-5" href="{{ subitem.link }}">{{ subitem.name }}</a>
                {% else %}
                  <span class="is-size-5">{{subitem.name}}</span>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{site.baseUrl}}/">
        <img
          src="{{ site.baseurl }}/assets/img/solid-emblem.svg"
          alt="[Solid logo]"
        />
      </a>
      <a class="navbar-item is-hidden-mobile" href="mailto:info@solidproject.org">
        info@solidproject.org
      </a>
      <a class="navbar-item is-size-3-mobile is-hidden-tablet" href="mailto:info@solidproject.org" aria-label="info@solidproject.org">
        @
      </a>      
      <a class="navbar-item" href="https://github.com/solid/" title="Solid on GitHub">
        <span class="image is-24x24">
          <img
            src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/brands/github.svg"
            alt="GitHub"
            class="brand-icon"
          />
        </span>
      </a>
      <a class="navbar-item" href="https://twitter.com/project_solid" title="Solid on Twitter">
        <span class="image is-24x24">
          <img
            src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/brands/twitter.svg"
            alt="Twitter"
            class="brand-icon"
          />
        </span>
      </a>
      <a class="navbar-item" href="https://vimeo.com/solidworld" title="Solid on Vimeo">
        <span class="image is-24x24">
          <img
            src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/brands/vimeo-v.svg"
            alt="Vimeo"
            class="brand-icon"
          />
        </span>
      </a>
    </div>
  </nav>
</footer>
