<footer class="solid-footer">
  <nav>
    <ul class="solid-footer-menu row">
      <li class="col-xs-12 col-sm-3">
        <ul class="sub-links">
          <li>
            <a href="{{ site.baseurl }}/about/license" title="Applicable licenses">
              Use Solid
            </a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/about/logo-usage-guidelines" title="How and when can you use the Solid logo?">
              This Week in Solid
            </a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/about/logo-usage-guidelines" title="How and when can you use the Solid logo?">
              Press
            </a>
          </li>        
          <li>
            <a href="{{ site.baseurl }}/about/logo-usage-guidelines" title="How and when can you use the Solid logo?">
              Solid Events
            </a>
          </li>  
        </ul>
      </li>
      <li class="col-xs-12 col-sm-3">
        <ul class="sub-links">
           <li>
            <a href="{{ site.baseurl }}/about/logo-usage-guidelines" title="How and when can you use the Solid logo?">
              Implement Solid
            </a>
          </li>  
      </li>       
           <li>
            <a href="{{ site.baseurl }}/about/logo-usage-guidelines" title="How and when can you use the Solid logo?">
              FAQs
            </a>
          </li>    
           <li>
            <a href="{{ site.baseurl }}/about/logo-usage-guidelines" title="How and when can you use the Solid logo?">
              For Developers
            </a>
          </li>    
           <li>
            <a href="{{ site.baseurl }}/about/logo-usage-guidelines" title="How and when can you use the Solid logo?">
              Funding
            </a>
          </li>  
      <li class="col-xs-12 col-sm-3">
           <li>
            <a href="{{ site.baseurl }}/about/logo-usage-guidelines" title="How and when can you use the Solid logo?">
              Standardisation
            </a>
          <ul class="sub-links">
          </li>          
           <li>
            <a href="{{ site.baseurl }}/about/logo-usage-guidelines" title="How and when can you use the Solid logo?">
              Team
            </a>
          </li>         
           <li>
            <a href="{{ site.baseurl }}/about/logo-usage-guidelines" title="How and when can you use the Solid logo?">
              License
            </a>
      </li>    
           <li>
            <a href="{{ site.baseurl }}/about/logo-usage-guidelines" title="How and when can you use the Solid logo?">
              Logo Usage Guidelines
            </a>
      </li>    
  </nav>
  <div class="solid-bottom-footer row">
    <div class="solid-copyright col-xs-12">
      <img src="{{ site.baseurl }}/assets/img/solid-emblem.svg" />
      <nav>
        <ul>
          <li>
            <a href="mailto:info@solidproject.org">info@solidproject.org</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
