<footer class="solid-footer">
  <nav>
    <ul class="solid-footer-menu row">
      <li class="col-xs-12 col-sm-3">
        <h3 class="accordionItem">
          About <i class="fas fa-chevron-down"></i>
        </h3>
        <ul class="sub-links">
          <li>
            <a href="https://solid.github.io/specification/"
              >Specification</a
            >
          </li>
          <li>
            <a href="{{ site.baseurl }}/about/team" title="Who works on Solid?">
              Solid Team
            </a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/about/faqs" title="Frequently Asked Questions">
              FAQs
            </a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/about/press" title="Solid in the press">
              Press
            </a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/about/solid-events" title="Events about Solid">
              Solid Events
            </a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/weekly-updates/next" title="Latest developments around Solid">
              This Week in Solid
            </a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/about/challenges" title="Organise a Solid Challenge">
              Solid Challenges
            </a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/about/license" title="Applicable licenses">
              License
            </a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/about/logo-usage-guidelines" title="How and when can you use the Solid logo?">
              Solid Logo Usage Guidelines
            </a>
          </li>
        </ul>
      </li>
      <li class="col-xs-12 col-sm-3">
        <h3 class="accordionItem">
          Develop <i class="fas fa-chevron-down"></i>
        </h3>
        <ul class="sub-links">
          <li>
            <a href="{{ site.baseurl }}/standardisation/how-does-development-happen">
              How Does Development Happen?
            </a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/standardisation/who-is-developing-solid">
              Who is Developing Solid?
            </a>
          </li>
        </ul>
      </li>
      <li class="col-xs-12 col-sm-3">
        <h3 class="accordionItem">
          Build <i class="fas fa-chevron-down"></i>
        </h3>
        <ul class="sub-links">
          <li>
            <a title="Tutorials and other resources on building Solid apps" href="{{ site.baseurl }}/implement/apps/first-app/">
              Apps
            </a>
          </li>
          <li>
            <a title="The Solid forum" href="https://forum.solidproject.org">
              Chat with other Solid Developers
            </a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/implement/funding" title="Funding opportunities for building on Solid">
              Funding
            </a>
          </li>
        </ul>
      </li>
      <li class="col-xs-12 col-sm-3">
        <h3 class="accordionItem">
          <a href="{{ site.baseurl }}/use">Use</a>
        </h3>
      </li>
    </ul>
  </nav>
  <div class="solid-bottom-footer row">
    <div class="solid-copyright col-xs-12">
      <img src="{{ site.baseurl }}/assets/img/solid-emblem.svg" />
      <nav>
        <ul>
          <li>
            <a href="https://solid.github.io/information/" title="Solid on GitHub">GitHub</a>
          </li>
          <li>
            <a href="mailto:info@solidproject.org">info@solidproject.org</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
