<head>
  <title>{{ site.title }}</title>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, user-scalable=no"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400,400i,700,700i,900,900i&display=swap"
    rel="stylesheet"
  />
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="{{ site.baseurl }}/favicon.ico?"
  />
  <link
    rel="stylesheet"
    href="{{ 'assets/css/flexboxgrid.min.css' | relative_url }}"
  />
  <link rel="stylesheet" href="{{ 'assets/main.css' | relative_url }}" />
</head>
