<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-item has-dropdown" id="tar">
      <div class="navbar-dropdown is-hidden-tablet has-background-primary">
      {% for item in site.data.navigation %}
	<a
	  class="navbar-item is-size-4"
	  href="{{ item.link }}"
	>{{ item.name }}</a>
      {% endfor %}
       </div>
    </div>
    <div class="navbar-brand">
	    <span>
	      <a class="navbar-item" style="float: right;">
		<img
		    src="{{ site.baseurl }}/assets/img/solid-emblem.svg"
		    alt="[Solid logo]"
		    /></a>
	            <a role="button" class="navbar-burger is-hidden-tablet" aria-label="menu" aria-expanded="false" data-target="tar" style="display:block;"></a></span>

      <a class="navbar-item navbar-brand-name is-uppercase is-size-4 is-hidden-mobile" href="{{site.baseUrl}}/">
        Solid
      </a>
    </div>

    <div class="navbar-menu">

    <div class="navbar-end">
        {% for item in site.data.navigation %}
          <a
            class="navbar-item is-size-6 is-size-5-tablet is-hidden-mobile"
            href="{{ item.link }}"
          >{{ item.name }}</a>
        {% endfor %}
	</div>
    </div>
  </nav>
</header>
