<header id="header-navbar" class="navbar">
  <a class="navbar-brand navbar-item navbar-link is-arrowless" href="{{site.baseUrl}}/">
    <img
      src="{{ site.baseurl }}/assets/img/solid-emblem.svg"
      alt=""
    />
    <span class="is-uppercase is-size-4">Solid</span>
  </a>

  <nav class="navbar-menu is-hidden-mobile">
    <ul class="navbar-end">
      {% for item in site.data.navigation %}
        <li class="navbar-item has-dropdown is-hoverable is-size-6 is-size-5-tablet">
          {% if item.sublinks %}
            <button
              class="navbar-link is-size-6 is-size-5-tablet"
              aria-haspopup="true"
            >{{ item.name }}</button>
            <ul class="navbar-dropdown">
              {% for menu in item.sublinks %}
                <li>
                  <a
                    class="navbar-item is-size-6 is-size-5-tablet" 
                    href="{{ menu.link }}"
                  >{{ menu.name }}</a>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <a
              class="navbar-link is-size-6 is-size-5-tablet is-arrowless"
              href="{{ item.link }}"
            >{{ item.name }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
