<header id="header-navbar" class="navbar">
  <a class="navbar-brand navbar-item navbar-link is-arrowless" href="/">
    <img
      src="/assets/img/solid-emblem.svg"
      alt=""
    />
    <span class="is-uppercase is-size-4">Solid</span>
  </a>

  <nav class="navbar-menu is-hidden-mobile">
    <ul class="navbar-end">
      
        <li class="navbar-item has-dropdown is-hoverable is-size-6 is-size-5-tablet">
          
            <a
              class="navbar-link is-size-6 is-size-5-tablet is-arrowless"
              href="/about"
            >About Solid</a>
          
        </li>
      
        <li class="navbar-item has-dropdown is-hoverable is-size-6 is-size-5-tablet">
          
            <button
              class="navbar-link is-size-6 is-size-5-tablet"
              aria-haspopup="true"
            >Developers</button>
            <ul class="navbar-dropdown">
              
                <li>
                  <a
                    class="navbar-item is-size-6 is-size-5-tablet" 
                    href="/developers/tutorials/getting-started"
                  >Getting Started</a>
                </li>
              
                <li>
                  <a
                    class="navbar-item is-size-6 is-size-5-tablet" 
                    href="/developers/tools"
                  >Solid Tools and Libraries</a>
                </li>
              
                <li>
                  <a
                    class="navbar-item is-size-6 is-size-5-tablet" 
                    href="/apps"
                  >Solid Apps</a>
                </li>
              
            </ul>
          
        </li>
      
        <li class="navbar-item has-dropdown is-hoverable is-size-6 is-size-5-tablet">
          
            <button
              class="navbar-link is-size-6 is-size-5-tablet"
              aria-haspopup="true"
            >Users</button>
            <ul class="navbar-dropdown">
              
                <li>
                  <a
                    class="navbar-item is-size-6 is-size-5-tablet" 
                    href="/users/get-a-pod"
                  >Getting a Pod</a>
                </li>
              
                <li>
                  <a
                    class="navbar-item is-size-6 is-size-5-tablet" 
                    href="/apps"
                  >Solid Apps</a>
                </li>
              
            </ul>
          
        </li>
      
        <li class="navbar-item has-dropdown is-hoverable is-size-6 is-size-5-tablet">
          
            <button
              class="navbar-link is-size-6 is-size-5-tablet"
              aria-haspopup="true"
            >Community</button>
            <ul class="navbar-dropdown">
              
                <li>
                  <a
                    class="navbar-item is-size-6 is-size-5-tablet" 
                    href="/newsletter"
                  >Newsletter</a>
                </li>
              
                <li>
                  <a
                    class="navbar-item is-size-6 is-size-5-tablet" 
                    href="/events"
                  >Events</a>
                </li>
              
                <li>
                  <a
                    class="navbar-item is-size-6 is-size-5-tablet" 
                    href="https://forum.solidproject.org/"
                  >Solid Forum</a>
                </li>
              
                <li>
                  <a
                    class="navbar-item is-size-6 is-size-5-tablet" 
                    href="https://matrix.to/#/#solid_project:matrix.org"
                  >Chat</a>
                </li>
              
                <li>
                  <a
                    class="navbar-item is-size-6 is-size-5-tablet" 
                    href="/press"
                  >Press</a>
                </li>
              
                <li>
                  <a
                    class="navbar-item is-size-6 is-size-5-tablet" 
                    href="https://github.com/solid/process/blob/main/code-of-conduct.md"
                  >Code of Conduct</a>
                </li>
              
            </ul>
          
        </li>
      
    </ul>
  </nav>
</header>
