<div class="solid-nav">
  <a href="{{site.baseUrl}}/" class="logo"
    ><img src="{{ site.baseurl }}/assets/img/solid-emblem.svg"
  /> Solid</a>
  <nav class="menu">
    <ul class="links">
      {% for item in site.data.navigation %}
      <li {%if item.sublinks%} class="sub-links" {%endif%}>
        <a {%unless item.sublinks%} href="{{ item.link }}" {%endunless%} aria-label={{item.name}}>{{ item.name }}</a>
        {% if item.sublinks %}
        <ul>
          {%for subitem in item.sublinks%}
          <li>
            {% if subitem.fullLink  %}
              <a href="{{ site.baseurl }}{{ subitem.link }}">{{
                subitem.name
              }}</a>
              {%else%} 
              <a href="{{ site.baseurl }}{{ item.link }}/{{ subitem.link }}">{{
                subitem.name
              }}</a>
              {%endif%}
          </li>
          {%endfor%}
        </ul>
        {%endif%}
      </li>
      {% endfor %}
    </ul>
  </nav>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</div>
