<div class="table-container">
  <table class="table is-bordered">
    <thead>
      <tr>
	<th>Provider</th>
	<th style="text-align: center">Responsible for Domain Name and Terms</th>
	<th style="text-align: center">Responsible for Hosting</th>
	<th style="text-align: center">Location of Hosting</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td><a href="https://inrupt.net">inrupt.net</a></td>
	<td style="text-align: center"><a href="https://inrupt.com/terms-of-service">Inrupt, Inc.</a></td>
	<td style="text-align: center"><a href="https://aws.amazon.com">Amazon</a></td>
	<td style="text-align: center">USA</td>
      </tr>
      <tr>
	<td><a href="https://solidcommunity.net/">solidcommunity.net</a></td>
	<td style="text-align: center"><a href="https://github.com/solid/solidcommunity.net_operations">Solid Project</a></td>
	<td style="text-align: center"><a href="https://www.digitalocean.com">Digital Ocean</a></td>
	<td style="text-align: center">UK</td>
      </tr>
      <tr>
	<td><a href="https://solidweb.org">solidweb.org</a></td>
	<td style="text-align: center"><a href="https://gitlab.com/groups/solidweb.org/-/group_members">Solid Grassroots</a></td>
	<td style="text-align: center"><a href="https://www.hosteurope.de">Hosteurope</a></td>
	<td style="text-align: center">Germany</td>
      </tr>
    </tbody>
</table></div>
