<div id="newsletter" class="section">
  <form
    action="https://solidproject.us7.list-manage.com/subscribe/post?u=269eddf5452208ca762cac18f&id=de1dd8e9e6"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    target="_blank"
    novalidate
    class="card"
  >
    <div class="card-body section">
      <h2 class="title">
        {% if page.url == "/newsletter" %}
          This Month in Solid
        {% else %}
          <a href="{{site.baseUrl}}/newsletter" title="View past editions of This Month in Solid">
            This Month in Solid
          </a>
        {% endif %}
      </h2>
      <p class="content">
        <label for="mce-EMAIL">
          Leave your email address to get a bite-sized overview of everything Solid, delivered straight to your inbox once a month.
        </label>
      </p>
      <div class="field">
        <div class="control">
          <input class="input is-large" type="email" name="EMAIL" placeholder="yourmail@example.com" id="mce-EMAIL"/>
        </div>
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_269eddf5452208ca762cac18f_de1dd8e9e6" tabindex="-1" value=""></div>
      <div class="field">
        <div class="control">
          <input type="submit" class="button is-large" name="subscribe" id="mc-embedded-subscribe" value="Subscribe" />
        </div>
      </div>
    </div>
  </form>
</div>
