<div class="talk">
  <div class="columns">
    <div class="column is-two-thirds">
      <p>
        <small>{{ include.date }}</small>
      </p>
      <p>
        {% if include.website %}
          <a href="{{ include.website }}" class="is-size-4 is-uppercase">
            {{ include.title }}
          </a>
        {% else %}
          <b class="is-size-4 is-uppercase">{{ include.title }}</b>
        {% endif %}
        <br/>
        <span class="speaker">By <i>{{ include.speaker }}</i></span>
      </p>
    </div>
    <aside class="column">
      {% if include.website %}
        <a href="{{ include.website }}" class="button is-text">
          <span class="icon is-small">
            <img
              src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/link.svg"
              alt="[]"
            />
          </span>
          <span>Visit website</span>
        </a>
      {% endif %}
      {% if include.slides %}
        <a href="{{ include.slides }}" class="button is-text">
          <span class="icon is-small">
            <img
              src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/file-powerpoint.svg"
              alt="[]"
            />
          </span>
          <span>View slides</span>
        </a>
      {% endif %}
      {% if include.video %}
        <a href="{{ include.video }}" class="button is-text">
          <span class="icon is-small">
            <img
              src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/file-video.svg"
              alt="[]"
            />
          </span>
          <span>Watch video</span>
        </a>
      {% endif %}
    </aside>
  </div>
</div>
