<section id="why-carousel" class="section">

  <div class="container">
    {% if include.title %}
      <h2 class="title has-text-centered">

        {{include.title}}
      </h2>
    {% endif %}

    <div class="columns is-desktop">
      <div class="column">
        {%
          include card.html
            icon=include.icon1
            heading=include.heading1
            content=include.content1
        %}
      </div>
      <div class="column">
        {%
          include card.html
            icon=include.icon2
            heading=include.heading2
            content=include.content2
        %}
      </div>
      <div class="column">
        {%
          include card.html
            icon=include.icon3
            heading=include.heading3
            content=include.content3
        %}
      </div>
      <div class="column">
        {%
          include card.html
            icon=include.icon4
            heading=include.heading4
            content=include.content4
        %}
      </div>
    </div>
  </div>
</section>
