<div class="cards row around">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="card">
      <div class="card-header">
        <img
          src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/boxes.svg"
          alt=""
          class="icon"
        />
        <span class="card-title">Get a leg up</span>
      </div>
      <div class="card-body">
        <p>
            <b>Tap into data already available</b> from your user, and compete with other apps for a better service rather than for data.
        </p>
      </div>
    </div>
  </div>
  <!-- <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="card">
      <div class="card-header">
        <img
          src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/trophy.svg"
          alt=""
          class="icon"
        />
        <span class="card-title">Don't compete for the data</span>
      </div>
      <div class="card-body">
        <p>
        When data is reusable, you can <b>compete against installed actors</b> by offering a better service 
        </p>
      </div>
    </div>
  </div> -->
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="card">
      <div class="card-header">
        <img
          src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/share-alt.svg"
          alt=""
          class="icon"
        />
        <span class="card-title">Built-in sharing, greater value</span>
      </div>
      <div class="card-body">
        <p>
          Empower your user to <b>make your application even more valuable to them</b> by reusing the service you provide.
        </p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="card">
      <div class="card-header">
        <img
          src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/people-carry.svg"
          alt=""
          class="icon"
        />
        <span class="card-title">Build trust with your customers</span>
      </div>
      <div class="card-body">
        <p>
          Let your customers <b>help you managing the data relevant to them</b>, and help them protecting it.
        </p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="card">
      <div class="card-header">
        <img
          src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/truck-loading.svg"
          alt=""
          class="icon"
        />
        <span class="card-title">Get portability without hassle</span>
      </div>
      <div class="card-body">
        <p>
        <b>Comply to GDPR portability regulation</b> conveniently, or chose <b>the best storage</b> for your company data. 
        </p>
      </div>
    </div>
  </div>
</div>