<div class="cards row around">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="card">
      <div class="card-header">
        <img
          src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/crop-alt.svg"
          alt=""
          class="icon"
        />
        <span class="card-title">Focus on your idea</span>
      </div>
      <div class="card-body">
        <p>
        Build <b>applications decoupled from data</b>, and avoid maintaining a separate back-end and what comes with it (logging, monitoring...) 
        </p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="card">
      <div class="card-header">
        <img
          src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/box-open.svg"
          alt=""
          class="icon"
        />
        <span class="card-title">Go directly to the data</span>
      </div>
      <div class="card-body">
        <p>
        Access the data you need <b>straight from the user</b>, without depending on any API provider-specific feature.
        </p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="card">
        <div class="card-header">
          <img
            src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/boxes.svg"
            alt=""
            class="icon"
          />
          <span class="card-title">Be part of a community</span>
        </div>
        <div class="card-body">
          <p>
           <b>Reuse other apps' data</b>, and let other reuse yours.
          </p>
        </div>
      </div>
    </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="card">
      <div class="card-header">
        <img
          src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/unlock.svg"
          alt=""
          class="icon"
        />
        <span class="card-title">Contribute to the whole stack</span>
      </div>
      <div class="card-body">
        <p>
        Be empowered to read and improve the specification: the Solid standards are <b>open</b>, as well as some of their implementations.
        </p>
      </div>
    </div>
  </div>
</div>