<div class="cards row around">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="card">
        <div class="card-header">
          <img
            src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/box-open.svg"
            alt=""
            class="icon"
          />
          <span class="card-title">Focus on the service</span>
        </div>
        <div class="card-body">
          <p>
          Let the customer choose where to host their data <b>depending on their preferences</b>.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="card">
        <div class="card-header">
          <img
            src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/trophy.svg"
            alt=""
            class="icon"
          />
          <span class="card-title">Don't compete for the data</span>
        </div>
        <div class="card-body">
          <p>
          When data is reusable, you can <b>compete against installed actors</b> by offering a better service 
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="card">
        <div class="card-header">
          <img
            src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/truck-loading.svg"
            alt=""
            class="icon"
          />
          <span class="card-title">Get portability without hassle</span>
        </div>
        <div class="card-body">
          <p>
          If you host your company data on Solid, you can easily <b>move between providers</b>. 
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="card">
        <div class="card-header">
          <img
            src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/people-carry.svg"
            alt=""
            class="icon"
          />
          <span class="card-title">Build trust with your customers</span>
        </div>
        <div class="card-body">
          <p>
            Show to your customer the data that concerns them, and help them protect it.
          </p>
        </div>
      </div>
    </div>
  </div>