<div class="cards row around">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="card">
        <div class="card-header">
          <img
            src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/boxes.svg"
            alt=""
            class="icon"
          />
          <span class="card-title">Don't start from scratch</span>
        </div>
        <div class="card-body">
          <p>
          Reuse data <b>already available</b> from your user 
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="card">
        <div class="card-header">
          <img
            src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/fast-forward.svg"
            alt=""
            class="icon"
          />
          <span class="card-title">Feel free to innovate faster</span>
        </div>
        <div class="card-body">
          <p>
          Experience <b>permissionless innovation</b> by going directly to users for their data
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="card">
        <div class="card-header">
          <img
            src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/share-alt.svg"
            alt=""
            class="icon"
          />
          <span class="card-title">Built-in sharing, greater value</span>
        </div>
        <div class="card-body">
          <p>
            Empower your user to <b>make your application even more valuable to them</b> <!--by reusing the service you provide-->.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="card">
        <div class="card-header">
          <img
            src="{{site.baseurl}}/assets/img/fontawesome-free-5.11.2-web/svgs/solid/unlock.svg"
            alt=""
            class="icon"
          />
          <span class="card-title">Contribute to the whole stack</span>
        </div>
        <div class="card-body">
          <p>
            The Solid standard is <b>open</b>, as well as some of its implementations.
          </p>
        </div>
      </div>
    </div>
  </div>