@import './rouge-themes/monokai.scss';

:root {
  scroll-behavior: smooth;
}
.staging-warning {
  background: #fffaec;
  border-bottom: 5px solid #ffd03e;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  line-height: 2;
}

.cards {
  width: 100%;
  margin-bottom: 1rem;
  a.card {
    text-decoration: none;
    border: solid 1px transparent;
    border-radius: 4px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.22);
    background-color: #ffffff;
    height: 100%;

    &:hover, &:focus {
      border-color: #FDAB00;
      color: #FDAB00;
      & > .card-header,
      & > .card-header > span.card-title {
        color: #FDAB00;
      }
    }
  }
  & .card {
    width: auto;
    margin: 0 0.5em;
    padding: 1em 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    transition: all 300ms ease-in-out;
    & > .card-header {
      text-align: center;
      display: flex;
      color: #818181;
      flex-direction: column;
      position: relative;
      transition: all 300ms ease-in-out;

      & > span.card-title {
        color: $text-color;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 0.07px;
        line-height: 1.5;
        text-align: center;
        text-transform: uppercase;
        margin: 1em;
        transition: all 300ms ease-in-out;
      }

      &::after {
        position: absolute;
        content: '';
        width: 50px;
        height: 1px;
        background: #a0a0a0;
        opacity: 0.4;
        bottom: 0;
        left: calc(50% - 25px);
      }
    }

    & > .card-body {
      margin-top: 2em;
      color: $text-color;
      font-family: Lato;
      font-size: 19px;
      letter-spacing: 0.08px;
      line-height: 1.5;
      text-align: center;
      flex: 1 0 auto;
      p {
        height: 100%;
      }
    }

    img.icon {
      height: 2em;
      filter: opacity(0.5);
      margin: 0 auto;
    }
  }
}

.newsletter-form {
  color: $text-color;
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  border: solid 1px transparent;
  border-radius: 4px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
  }

  input {
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: white;

    &:focus {
      box-shadow: 0 0 6px 0 $solid-color;
    }

    &[type="submit"] {
      &:hover, &:focus {
        background-color: $solid-color;
        color: white;
      }
    }
  }

  @media (min-width: 800px) {
    width: 50%;

    .post-content & {
      width: auto;
      box-shadow: none;
    }

    input {
      font-size: 2rem;
    }
  }
}

.chevron {
  height: 1em;
}
