@charset "utf-8";

// Define defaults for each variable.
$solid-background: 'img/solid-bg-dark-ui.svg';
$solid-background-white: 'img/solid-background.svg';

$base-font-family: 'Lato', sans-serif;

$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 30px !default;

$text-color: #111 !default;
$background-color: #fdfdfd !default;
$brand-color: #3f1ca0 !default;
$purple: #7c55fb;
$gray: #5a5a5a;
$curious-blue: #18a9e6;
$yellow: #ffcf4d;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width: 800px !default;

$on-mobile: 375px !default;
$on-palm: 768px !default;
$on-laptop: 800px !default;
$on-tablet: 1024px !default;

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@import './lato-font.scss';

// Import partials.
@import 'minima/normalize', 'abstract/variables', 'minima/base', 'layout/header',
  'layout/footer', 'layout/splash-footer', 'layout/post', 'pages/home', 'pages/home-pages',
  'pages/splash', 'pages/internal';