$textColor: #5a5a5a;
$primaryColor: #7c55fb;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  .page-content {
    padding: 1em 1em 4em 1em;
  }

  .title-banner {
    background: $secondary-color url($solid-background) no-repeat;
    background-size: cover;
    // background-position: 0 -2em;
    background-origin: border-box;
    background-clip: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #354866;

    padding: 1em 0 1em 0;
    width: 100%;
    height: 100vh;
    max-height: 480px;

    & .title {
      font-size: 2em;
      letter-spacing: 0.26px;
      line-height: 78px;
      margin: 0;
    }

    & .title,
    .subtitle {
      color: white;
    }

    .subtitle {
      font-size: 1.5rem;
      letter-spacing: 0.08px;
      line-height: 24px;
      padding: 1em 0 2em 0;
    }

    .learn-btn {
      text-align: center;
      line-height: 67px;
      height: 67px;
      width: 258px;
      border-radius: 60px;
      border: none;
      background-color: $purple;
      box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.15);
      color: #fff;
      font-size: 0.7em;
    }
  }

  .intro-heading {
    margin-top: 1rem;
    text-align: center;
    color: $textColor;
    font-size: 2.5rem;
  }

  .cards {
    width: 100%;
    a.card {
      text-decoration: none;
      border: solid 1px transparent;
      border-radius: 4px;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.22);

      &:hover {
        border-color: #FDAB00;
        color: #FDAB00;
        & > .card-header,
        & > .card-header > span.card-title {
          color: #FDAB00;
        }
      }
    }
    & .card {
      width: auto;
      background-color: #ffffff;
      margin: 0 0.5em;
      padding: 1em 0.5em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #ffffff;
      transition: all 300ms ease-in-out;
      & > .card-header {
        text-align: center;
        display: flex;
        color: #818181;
        flex-direction: column;
        position: relative;
        transition: all 300ms ease-in-out;

        & > span.card-title {
          color: $textColor;
          font-size: 0.8em;
          font-weight: bold;
          letter-spacing: 0.07px;
          line-height: 25px;
          text-align: center;
          text-transform: uppercase;
          margin: 1em;
          transition: all 300ms ease-in-out;
        }

        &::after {
          position: absolute;
          content: '';
          width: 50px;
          height: 1px;
          background: #a0a0a0;
          opacity: 0.4;
          bottom: 0;
          left: calc(50% - 25px);
        }
      }

      & > .card-body {
        margin-top: 2em;
        color: $textColor;
        font-family: Lato;
        font-size: 19px;
        letter-spacing: 0.08px;
        line-height: 23px;
        text-align: center;
        flex: 1 0 auto;
        p {
          height: 100%;
        }
      }
    }
  }

  .img-info-banner {
    padding: 1.5em 1em;
    .image {
      display: flex;
      justify-content: center;
    }
    .info-card {
      padding: 2em 1em;
      h3.title {
        color: $textColor;
        font-size: 1em;
        font-weight: bold;
        letter-spacing: 0.14px;
        line-height: 42px;
      }
      p.info {
        padding: 1em 0;
        color: $textColor;
        font-size: 0.8em;
        letter-spacing: 0.09px;
        line-height: 37px;
      }
    }
  }

  .newsletter-form {
    color: $textColor;
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    border: solid 1px transparent;
    border-radius: 4px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);

    @media (min-width: 800px) {
      width: 50%;
    }

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
    }

    input {
      width: 100%;
      font-size: 2rem;
      padding: 1rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      background-color: white;

      &:focus {
        box-shadow: 0 0 6px 0 $primaryColor;
      }

      &[type="submit"] {
        &:hover, &:focus {
          background-color: $primaryColor;
          color: white;
        }
      }
    }
  }
}

@include media-query($on-palm) {
  .home {
    .page-content {
      padding: 1em 3em 4em 3em;
    }
  }
}
