@import '../all.scss';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  .page-content {
    padding: 1em 1em 4em 1em;
  }

  .title-banner {
    background: $secondary-color url($solid-background) no-repeat;
    background-size: cover;
    // background-position: 0 -2em;
    background-origin: border-box;
    background-clip: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #354866;

    padding: 1em 0 1em 0;
    width: 100%;
    height: 100vh;
    max-height: 500px;

    & .title {
      font-size: 2em;
      letter-spacing: 0.26px;
      line-height: 78px;
      margin: 0;
    }

    & .title,
    .subtitle {
      color: white;
    }

    .subtitle {
      font-size: 3rem;
      line-height: 1.5;
      margin: 0 3rem;
      padding: 1em 0 1em 0;
      text-align: center;
      text-shadow: 1px 1px 1px #666;

      @media (max-width: 800px) {
        font-size: 2rem;
      }
    }

    .learn-btn {
      text-align: center;
      line-height: 67px;
      height: 67px;
      width: 258px;
      border-radius: 60px;
      border: none;
      background-color: $purple;
      box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.15);
      color: #fff;
      font-size: 0.7em;
    }

    .learn-more-link {
      color: white;
      margin: 1rem 0;
      font-size: 1rem;
      text-align: center;
    }

    .chevron {
      filter: invert(1);
      margin-left: 0.25em;
    }
  }

  .intro-heading {
    margin-top: 1rem;
    text-align: center;
    color: $text-color;
    font-size: 2rem;
    
  }
  .intro-subheading {
    font-size: 1.5rem;
    text-align: center;
  }
}

.img-info-banner {
  padding: 1.5em 1em;

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info-card {
    padding: 2em 1em;
    h3.title {
      color: $text-color;
      font-size: 1em;
      font-weight: bold;
      letter-spacing: 0.14px;
      line-height: 42px;
    }
    p.info {
      padding: 1em 0;
      color: $text-color;
      font-size: 0.8em;
      letter-spacing: 0.09px;
      line-height: 37px;
    }
  }
}

@include media-query($on-palm) {
  .home {
    .page-content {
      padding: 1em 3em 4em 3em;
    }
  }
}
