@import '../all.scss';

.internal {
  .page-content {
    font-size: $base-font-size;
    padding: 1em 1em 4em 1em;

    ul li {
      list-style-type: disc;
    }
    ol li {
      list-style-type: decimal;
    }
  }
}
