footer.splash-footer {
  background: transparent;
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 1em;
  .solid {
    background: transparent;
    display: flex;
    font-size: 0.7em;
    align-items: center;
    color: #575757;
    img {
      height: 42px;
      width: 42px;
      margin-right: 1em;
    }
  }

  ul.links {
    background: transparent;
    display: flex;
    align-items: center;
    font-size: 0.7em;
    color: $solid-color;
    li {
      padding: 0 1em;
      border-right: solid 1px $solid-color;
      &:last-child {
        border-right: none;
      }
      a,
      a:hover {
        text-decoration: none;
      }
    }
  }
}

.splash {
  background: url('/assets/img/solid-background.svg') no-repeat;
  background-size: cover;
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;

    button {
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.6em 1em;
      border: 1px solid $solid-color;
      border-radius: 60px;
      background-color: $solid-color;
      box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.15);
      font-size: 0.8em;
      font-weight: 300;

      i {
        margin-right: 22px;
      }
    }
  }
}
