.splash {
  background: url($solid-background-white) no-repeat;
  background-size: cover;
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;

    button {
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.6em 1em;
      border: 1px solid $solid-color;
      border-radius: 60px;
      background-color: $solid-color;
      box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.15);
      font-size: 0.8em;
      font-weight: 300;

      i {
        margin-right: 22px;
      }
    }
  }
}
