---
---
@import './lato-font.scss';
@import './rouge-themes/monokai.scss';
//@import 'debug.css';

@charset "utf-8";

$family-sans-serif: "Lato", sans-serif;
$body-line-height: 1.625;
$size-4: 1.3rem;
$primary: #7C4DFF;
$secondary: #1fca86;
$grey-lightest: #f4f4f4;
$grey-lighter: #d8d8d8;
$grey-light: #d9d9d9;
$grey-dark: #202542;
$black-ter: #363E78;
$dark: $grey-dark;

// Initialise derived variables, so they can be overriden:
@import "bulma-0.8.0/sass/utilities/_all.sass";

$text-strong: $text;
$link: $primary;

:root {
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

// Content
.content {
  a {
    font-weight: bold;
    text-decoration: underline;
  }
}

// Navbar
$navbar-background-color: $dark;
$navbar-item-color: $dark-invert;
$navbar-height: 5.125rem;
$navbar-item-img-max-height: 3rem;
// We haven't written the code to display the burger menu, so keep showing the regular menu:
$navbar-breakpoint: 0;

// Breadcrumbs
$breadcrumb-item-padding-vertical: $size-small;

// Footer
$footer-background-color: $dark;
$footer-color: $grey-lighter;
// Default Bulma padding, except with 0 padding at the bottom, to make the navbar stick to it:
$footer-padding: 3rem 1.5rem 0;

// Import only what you need from Bulma
@import "bulma-0.8.0/sass/base/_all.sass";
@import "bulma-0.8.0/sass/components/_all.sass";
@import "bulma-0.8.0/sass/elements/_all.sass";
@import "bulma-0.8.0/sass/form/_all.sass";
@import "bulma-0.8.0/sass/grid/_all.sass";
@import "bulma-0.8.0/sass/layout/_all.sass";
@import "bulma-0.8.0/sass/utilities/_all.sass";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  #main {
    flex-grow: 1;
  }
}

#breadcrumb {
  border-bottom: 1px solid $grey-lightest;
}

// Cards in the "Why you'll love" carousel should be about ten times the height
// of a line of its contents, leaving room for about two heading lines and three content lines,
// in addition to the icon:
$why-carousel-card-height: 10 * $size-5 * $body-line-height;
$vertical-section-padding: nth($section-padding, 1);
// This variable was used to have a partly-overlapping list of cards below the hero.
// See commit 9990a2dd1b2953fe5804629b043b52a010a05321.
$why-carousel-offset: 0;
#home-hero {
  background-image: url('/assets/img/solid-bg-dark-ui.svg');
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: cover;

  a, a:visited {
    color: white;
    text-decoration: none;
  }
  .image {
    width: 25%;
    max-width: 256px;
    min-width: 128px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  a:hover {
    text-decoration: underline;
  }
}

#landing-content {
  #home-hero + & {
    margin-top: -1 * $why-carousel-offset;
  }

  background-image: url('/assets/img/hexagon.svg');
  background-repeat: no-repeat;
  // The background image starts in the top right, so align it to the right side
  // to make it visible at the top:
  background-position: right $why-carousel-offset;
}

#ecosystem {
  background-image: url('/assets/img/solid-bg-dark-ui.svg');
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: cover;
}

#why-carousel {
  .card {
    min-height: $why-carousel-card-height;
    border-radius: $radius;
    word-break: keep-all;
  }

  .image {
    display: inline-block;
  }
  .title {
    // Assume headings to be two lines long
    min-height: 2 * $size-4 * $body-line-height;
    margin: $gap 0;
  }
  hr {
    $separator-width: $column-gap * 4;
    margin: $gap 0;
    @include center($separator-width);
    width: $separator-width;
    background-color: $grey-lighter;
  }
  .content {
    // Assume the descriptions to be three lines long
    min-height: 3 * $size-5 * $body-line-height;
  }
}

#choose-your-own-adventure {
  .field.is-grouped {
    justify-content: center;

    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  .control {
    margin: $column-gap;
  }

  .button {
    padding: $gap $gap * 2;
    box-shadow: $card-shadow;
    border: 3px solid $primary;

    @media (max-width: $tablet) {
      width: 100%;
    }

    &:hover, &:focus {
      background-color: white;
      color: $primary;
    }
  }
}

#tour {
  .section {
    border-bottom: 2px solid $grey-lightest;
    
    &:last-child {
      border-style: none;
    }
  
  }

  .image {
    @media (max-width: $tablet) {
      height: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  // Make sure both columns in the tour are aligned vertically:
  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

#sidebar {
  // Sidebar design is not implemented yet, because the column appears to be taller than the main
  // column, so giving it a different background will result in a misaligned border at the bottom:
  // background-color: $grey-lightest;
}

#newsletter {
  margin-bottom: $gap;
}

#footer {
  .navbar {
    margin-top: $gap;
  }

  a, span {
    color: $footer-color;
  }

  a:hover, a:focus {
    text-decoration: underline;
  }

  .brand-icon {
    // The GitHub and Twitter icons are black, so we're turning them white so they're visible on the
    // footer's dark background:
    filter: invert(1);
  }
}

.talk {
  margin-bottom: $gap;
  padding: $gap;
  border: 1px solid $grey-light;

  .column:first-child {
    border-right: 1px solid $grey-light;
  }
  aside.column:last-child {
    padding-left: $gap;
  }

  .speaker {
    color: $grey-dark;
  }

  .icon img {
    width: $body-font-size;
  }
}

.illustration {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.codesandbox-button-wrapper {
  display: block;
  text-align: right;
}

// For some reason browser don't highlight this item as clickable,
// even though it does expand.
// I was wondering if that was intentional, but an MDN example also adds a pointer cursor,
// so it felt safe to do so as well:
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details#Customizing_the_appearance
details > summary {
  cursor: pointer;
}
