<!doctype html>
<html>
  <head>
    <title>{% if page.title %}{{page.title}} · {% endif %}{{ site.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ site.baseurl }}/favicon.ico?"
    />
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
  </head>

  <body>
    {% include header.html %}

    {% if site.baseurl == "https://solid.github.io" %}
      <div class="message is-danger is-large" role="alert">
        <div class="message-body">
          You are currently viewing a draft version of the Solid website. If you are looking for reliable information, visit the live site at <a href="https://solidproject.org{{page.url}}" title="The official Solid website">SolidProject.org</a>.
        </div>
      </div>
    {% endif %}
    {% include breadcrumbs.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
  </body>


</html>
