<!doctype html>
<html>
  <head>
    <title>{% if page.title %}{{page.title}} · {% endif %}{{ site.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ site.baseurl }}/favicon.ico?"
    />
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
  </head>

  <body>
    {% include header.html %}

    {% include draft-warning.html %}

    {% include breadcrumbs.html %}
    <main id="main">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>


</html>
