---
layout: internal
---
<section class="row solid-post">
    {% include breadcrumbs.html %}
    <section class="post h-entry col-xs-12 col-sm-12 col-lg-12" itemscope itemtype="http://schema.org/BlogPosting">

        <div class="post-content e-content" itemprop="articleBody">
            {{ content }}
        </div>

        {%- if site.disqus.shortname -%}
        {%- include disqus_comments.html -%}
        {%- endif -%}

        <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
    </section>
</section>