---
layout: internal
---
<section class="row solid-post">
    <section class="solid-breadcrumbs col-xs-12">
        {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
        <div class="solid-breadcrumbs-container row">
            <ul class="col-xs-10 col-sm-12">
                <li><a href="/">Home</a> ></li>
                {% for crumb in crumbs offset: 1 %}
                {% if forloop.last %}
                <li>{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</li>
                {% else %}
                <li>
                    <!--  -->
                    <a
                    
                        href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb }}{% if forloop.index != crumb_limit %}/{% endif %}{% endfor %}">
                        {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }} ></i>
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            <div class="menu-mobile menu-mobile-aside col-xs-2">
                <button><i class="far"></i></button>
            </div>
        </div>
    </section>
    <article class="post h-entry col-xs-12 col-sm-8" itemscope itemtype="http://schema.org/BlogPosting">

        <div class="post-content e-content" itemprop="articleBody">
            {{ content }}
        </div>

        <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
    </article>
    <aside class="col-xs-12 col-sm-4 right-side">
        <nav class="aside-menu">
                {% assign categories_list = "Writing a Solid application AND Vocabularies AND Common patterns AND Tools and libraries" | split: " AND " %}
                <ul>
                    {% for cat in categories_list %}
                        {% if cat == page.categories[0] %}
                            <li> 
                                <h4>{{ cat }}</h4>
                                <ul>
                                {% for post in site.categories[cat] reversed %}
                                    {% if page.url == post.url %}
                                        <li class="active"><a href="{{ post.url }}">{{ post.title }}</a></li>
                                    {% else %}
                                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li>
                                {% if cat == "Writing a Solid application"%}
                                    <h4><a href="/for-developers/apps/first-app">{{ cat }}</a></h4>
                                {% elsif cat == "Vocabularies" %}
                                    <h4><a href="/for-developers/apps/vocabularies">{{ cat }}</a></h4>
                                {% elsif cat == "Common patterns" %}
                                    <h4><a href="/for-developers/apps/common-patterns">{{ cat }}</a></h4>
                                {% elsif cat == "Tools and libraries" %}
                                    <h4><a href="/for-developers/apps/tools">{{ cat }}</a></h4>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                
                
                    
                    <!-- <ul>
                    {% for category in page.categories %}
                    <li>
                        
                    </li>
                    {% endfor %}
                    </ul> -->
        </nav>
    </aside>
</section>