---
layout: internal
---
<section class="row solid-post">
    {% include breadcrumbs.html %}
    <article class="post h-entry col-xs-12 col-sm-8" itemscope itemtype="http://schema.org/BlogPosting">

        <div class="post-content e-content" itemprop="articleBody">
            {{ content }}
        </div>

        <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
    </article>
    <aside class="col-xs-12 col-sm-4 right-side">
        
        <nav class="aside-menu">
            {% for currentTag in page.tags%}
                {% if currentTag == "apps" %}
                    {% include categories_apps.html %}
                {% elsif currentTag == "pod-server" %}
                    {% include categories_pod-server.html %}
                {% endif %}
            {% endfor %}
        </nav>
    </aside>
</section>