@import '../all.scss';

.solid-footer {
  background-color: $secondary-color;
  color: $white;
  padding: 30px 20px 0px;

  h3,
  a,
  p {
    @include relative-font-size(1.1);
    color: $white;
  }

  .solid-footer-menu {
    padding: 0 20px;
    h3, .home-link {
      font-weight: bold;
      margin-bottom: 5px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(151, 151, 151, 0.53);
      position: relative;
    }

    & > li {
      cursor: pointer;
      padding: 20px;
      position: relative;

      h3 {
        text-transform: uppercase;
      }

      &.open {
        .sub-links {
          display: block;
        }
      }

      .sub-links {
        padding-left: 20px;
        margin: 15px 0;
      }
    }
  }

  .solid-bottom-footer {
    margin-top: 40px;

    nav {
      min-height: 58px;
      ul {
        line-height: 58px;
      }
      li {
        display: inline-block;
        margin: 0 5px;
      }
    }

    .icon {
      width: 1rem;
      padding: 0.5rem;
      border-radius: 1rem;
      box-sizing: content-box;
      filter: invert(1);

      &:hover, &:focus {
        filter: none;
        background: $solid-color;
      }
    }
  }

  .solid-copyright {
    img {
      max-width: 44px;
    }

    nav {
      display: inline-block;
    }

    img,
    p {
      display: inline-block;
      vertical-align: middle;
    }

    p {
      margin-left: 5px;
      font-weight: 400;
      margin-bottom: 0;
    }
  }

  @include media-query($on-palm) {
    .solid-footer-menu {
      padding-left: 30px;
      padding-right: 30px;

      h3 {
        border-bottom: none;
        padding-bottom: 0;
      }

      & > li {
        cursor: inherit;
        text-align: left;

        .sub-links {
          padding-left: 0px;
          margin: 0;
        }
      }

      .sub-links {
        display: block;
      }
    }

    .solid-bottom-footer {
      nav {
        text-align: right;
      }
    }
  }
}
