body {
  overflow-x: hidden;
}

.internal-header {
  .solid-nav {
    background-color: $secondary-color;
    position: relative;

    &.open {
      background-color: $secondary-color;
    }
    .menu {
      &.menu-active {
        background-color: $secondary-color;
      }

      .links > li.sub-links > ul {
        background-color: $secondary-color;
        box-shadow: none;
      }
    }
  }
}

.solid-nav {
  // position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  color: #fff;
  position: absolute;
  min-height: 80px;
  width: 100vw;
  padding: 0 2em;

  &.open {
    background-color: $secondary-color;
  }

  // box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.7);
  .logo {
    appearance: none;
    margin-right: 1em;
    display: flex;
    align-items: center;
    img {
      max-width: 48px;
    }
  }
  .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: fit-content;
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;
    background: transparent;
    justify-content: flex-start;
    transition: transform 300ms ease-in-out;
    padding-bottom: 1em;
    .links {
      display: flex;
      flex-direction: column;
      width: 100%;

      & > li {
        display: flex;
        flex-direction: column;
        position: relative;
        align-self: stretch;

        a {
          padding: 1em;
          font-size: 0.8em;
          width: 100%;
        }

        &.sub-links {
          & > a::after {
            content: '\f107';
          }
          &.active {
            background: $third-color;
            box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.4), 0px 0px 4px 0px rgba(0,0,0,0.2);
            transition: 0.25s all ease-in-out;

            & > a::after {
              content: '\f106';
            }
            & > ul {
              transform: translateY(0);
              opacity: 1;
              background: $third-color;
              padding: .5rem;
              border-bottom-left-radius: .5rem;
              box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
              display: flex;
            }
          }

          & > ul {
            flex-direction: column;
            position: relative;
            min-width: 100%;
            transform: translateY(0);
            top: 0;
            display: none;
            & > li {
              display: flex;

              & > a {
                padding: 0.5em 1em;
                font-size: 80%;
                cursor: pointer;
                color: #fff;
                border-bottom: solid 1px rgba(white, 0.2);
              }
            }
            //transition: all 300ms ease-in-out;
          }
        }
        & > a {
          text-transform: uppercase;
          letter-spacing: 0.8px;
          color: #fff;
          transition: all 300ms ease;
          position: relative;

          &:hover {
            text-decoration: none;
            opacity: 0.8;
          }
          &::after {
            content: '\f107';
            font-family: fontAwesome;
            opacity: 0.6;
            margin-left: 0.5em;
            transition: all 1s ease;
          }
        }
      }
    }
    .actions {
      padding-left: 0 2em;
      display: flex;
      justify-content: space-around;
      font-size: 2rem;
      li {
        a {
          color: #fff;
        }
        padding: 0 0.5em;
      }
    }
    &.menu-active {
      background-color: $secondary-color;
      transform: translateX(0);
    }
  }

  .burger {
    cursor: pointer;
    & > div {
      width: 25px;
      height: 2px;
      margin: 5px;
      background: white;

      &.line1,
      &.line3 {
        transition: transform 300ms linear;
      }

      &.line2 {
        transition: opacity 300ms ease-out;
      }
    }

    &.toggle-burger {
      .line1 {
        transform: rotate(-45deg) translate(-5px, 5px);
      }
      .line2 {
        opacity: 0;
      }
      .line3 {
        transform: rotate(45deg) translate(-5px, -5px);
      }
    }
  }
}

@include media-query($on-tablet) {
  .burger {
    display: none;
  }

  .solid-nav {
    padding: 0 1em;
    align-items: stretch;

    &.open {
      background-color: transparent;
    }
    .menu {
      position: relative;
      transform: translateX(0);
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding: 0;
      height: auto;
      .links {
        flex-direction: row;
        justify-content: flex-end;
        font-size: 0.6em;
        margin-right: 1em;

        & > li {
          &.sub-links {
            &.active {
              & > ul {
                transform: translateY(0);
                opacity: 1;
              }
            }
            & > ul {
              box-shadow: 2px 9px 5px 1px rgba(3,3,3,0.52);
              position: absolute;
              left: 0;
              top: 100%;
              opacity: 0;
              transform: translateY(-100%);
              background: $secondary-color;

              & > li {
                & > a {
                  border: none;
                }
              }
            }
          }
        }

        li {
          & > a {
            font-size: 1em;
          }
        }
      }
    }
  }
}
