.solid-post {
    .h-entry,
    .solid-breadcrumbs {
        padding: 0.5em 2em 0.6em;

        ul {
            align-items: center;
            display: flex;
        
            li {
                display: inline-block;
                margin: 0 5px;
            }

            a,
            li {
                font-size: 1.1rem;
            }

            i {
                margin: 0 5px;
                transform: rotate(-90deg);
                font-size: 0.7rem;
            }
        }

        .menu-mobile {
            align-items: center;
            display: flex;
            justify-content: flex-end;
            button {
                border: 1px solid $brand-color;
                border-radius: 60px;
                padding: 10px 12px;
                background: transparent;
                outline: none;

                i {
                    color: $purple;
                }
            }
        }
    }

    .solid-breadcrumbs {
        box-shadow: 0 4px 4px -2px rgba(0,0,0,0.06);
    }

    .right-side {
        background-color: #F4F4F4;
    }

    .aside-menu {
        padding: 60px 40px;
    }

    @include media-query($on-palm) {
        .h-entry,
        .solid-breadcrumbs {
            .menu-mobile {
                display: none;
            }
        }
    }
}